body {
    margin: 0;
	background: #2A2A2A;
}

main {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

* {
  box-sizing: border-box;
}

.top {
	display: flex;
       justify-content: space-between;
       align-items: center;
    width: 100%;
    height: 80px;
    
    padding-right: 30px;
    background: #FF6600;
    font-family: 'Gajraj One', sans-serif;
}

.shapka {
    display: flex;
       align-items: center;
       gap: 20px;
	color: #2A2A2A;
	font-size: 38px;
    padding-left: 40px;
    padding-right: 180px;
    
}

.icon {
	width: 85px;
	height: 85px;
	padding-right: 20px;
}

.b1 h1, .b2 h1, .b3 h1 {
    display: flex;
       justify-content: flex-end;
       align-items: center;
	background: #E65C00;
	color: #2A2A2A;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 10px;
    text-shadow: 1px 1px 0px #2A2A2A;
}

.menu-blocks {
    display: flex;
    gap: 20px;
    max-width: 1000px;
}

.left-menu {
    width: 190px;
    min-height: 100vh;
    background: #333333;
    border-right: 3px solid black;
    font-size: 7px;
}

.box-menu {
    width: 150px;
    margin: 0 20px 0px 15px;
    padding-top: 25px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.box-menu2 {
    width: 150px;
    margin: 0 20px 0px 15px;
    padding-top: px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.categories {
    margin-top: 15px;
    font-size: 12px;
}

.line {
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        black,
        transparent
    );
    margin: 8px 0;
}

.line-header {
    height: 1px;
    background: black;
    margin: 8px 0;
}

.line-header1 {
    height: 1px;
    background: black;
    margin-top: 21px; /* Мне 15px Маричке 23px */
    margin-right: 5px;
    margin-bottom: 0px;
}

.line-header2 {
    background: #2A2A2A;
    height: 75px;
}

h1 {
    margin: 0 auto;
}

p {
    line-height: 1.6;
}

.text-menu2 {
    padding-bottom: 80px;
}

a {
    text-decoration: none;
    color: #FF6600;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.link-top {
    text-decoration: none;
    color: black;
}

.main-header {
    font-family: 'Galindo', sans-serif;
    background: #2A2A2A;
    width: 100%;
    color: #FF6600;
    padding-left: 20px;
    padding-right: px;
    padding-top: 15px;
}

.text1 {
    flex: 1;
    font-size: 16px;
    font-family: 'Galindo', sans-serif;
}

.box {
    display: flex;
    border: 1px solid black;
    padding: 1px;
    margin-right: 10px;
    margin-left: 10px;
    width: 290px;
    height: 300px;
    background: gray;
}

.box-name {

}







