body {
    margin: 0;
	background: #2A2A2A;
}

* {
  box-sizing: border-box;
}

.top {
	display: flex;
       justify-content: space-between;
       align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 40px;
    padding-right: 30px;
    background: #FF6600;
    font-family: 'Gajraj One', sans-serif;
}

.shapka {
    display: flex;
       align-items: center;
       gap: 20px;
	color: #2A2A2A;
	font-size: 38px;
    padding-left: 40px;
    padding-right: 180px;
    
}

.icon {
	width: 85px;
	height: 85px;
	padding-right: 20px;
}

.b1 h1, .b2 h1, .b3 h1 {
    display: flex;
       justify-content: flex-end;
       align-items: center;
	background: #E65C00;
	color: #2A2A2A;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 10px;
}

.menu-blocks {
    display: flex;
    gap: 20px;
    max-width: 1000px;
}

.left-menu {
    width: 190px;
    height: 100vh;
    background: #333333;
    border-right: 3px solid black;
    font-size: 7px;
}

.box-menu {
    width: 150px;
    margin: 0 20px 0px 15px;
    padding-top: 25px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.box-menu2 {
    width: 150px;
    margin: 0 20px 0px 15px;
    padding-top: px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}


.categories {
    margin-top: 15px;
    font-size: 12px;
}


.line {
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        black,
        transparent
    );
    margin: 8px 0;
}

h1 {
    margin: 0 auto;
}








